/* CSS Document */
*{	
	padding:0px;
	margin:0px;}
a{
	text-decoration:none;}
#bigDiv{
	width:1344px;
	margin:0 auto;
	overflow:hidden;
	}
#second{
	width:1024;
	margin:0px auto;}
#head{
	width:100%;
	height:100px;
	}
#head-1{
	overflow:hidden;
	width:100%;
	height:3px;
	background-color:#009966;}
#head-2{
	overflow:hidden;
	width:100%;
	height:60px;
	background-color:#FAFAFA;
	}
#headleft{
	overflow:hidden;
	width:12%;
	height:60px;
	float:left;
	}
#headmiddle{
	overflow:hidden;
	width:76%;
	height:60px;
	float:left;
	}
#headright{
	overflow:hidden;
	width:12%;
	height:60px;
	float:left;
	}
#middle-1{
	width:22%;
	height:60px;
	float:left;}
#middle-2{
	float:left;
	width:78%;
	height:60px;}
.headImg{
	width:229px;
	margin-top:10px;
	}
#middleleft{
	overflow:hidden;
	float:left;
	width:80%;
	height:60px;
	}
#middleright{
	float:left;
	width:20%;
	height:60px;
	}
#middleright span{
	background-color:#009966;
	display:block;
	padding:5px 20px;}
#middleright ul{
	border-top:2px solid #999999;
	display:none;
	background-color:#009966;
	list-style:none;
	position:absolute;
	width:159px;
	height:190px;
	margin-top:0px;		
	}
#middleright ul li{
	margin-top:0px;
	padding:5px 0px 5px 10px;
	display:block;
	}
#liboder{
	border-top:2px dotted #999999;
	}
#middleright a{
	overflow:hidden
	padding:5px;
	color:#FFFFFF;
	display:block;
	text-decoration:none;	
	}
#middleright ul li:hover{
	background-color:#999999;}
#middleleft ul li{
	text-decoration:none;
	display:block;
	margin-left:40px;
	margin-top:15px;
	font-size:24px;
	color:#999999;
	list-style:none;
	float:left;
     }	 
#middleleft li:hover{
	color:#000000;
	font-weight:400;}
		/*head end----------------------------------------------------------------------------------*/	
	
#main{
	width:1024px;
	margin:20px auto;}
#mainleft{
	float:left;
	width:700px;
	}
	/*--------------------------------------------------------*/
.mainleft1{
	width:700px;
	height:35px;
	border-bottom:2px solid #009966;
 }
.changeresume{
	margin-left:100px;
	color:#009966;}
/*-----------------------------------------------------*/

.workdiv a{
	color:#009966;}
.workdiv a:hover{
	color:#009966;}
.fontsize{
	font-size:14px;}
.fontcolor{
	color:#9C9C9C;}
.workdiv{
	float:left;
	width:320px;
	margin-left:15px;
	margin-top:30px;}
	/*---------------------------------------------------------*/
	.mainleft2{
		height:200px;
	background-color:#FAFAFA;
	overflow:hidden;}
#mainleft2 a{
	color:#666666;}
	/*----------------------------------------------------------------------------------*/
#mainright{
	overflow:hidden;
	margin-left:36px;
	float:left;
	width:280px;
}
#mainright1{
	overflow:hidden;
	background-image:url(../images/company/bg.jpg);
	background-repeat:repeat;
	width:280px;
	height:200px;
	border-bottom:3px solid #999999;
	border-top:3px solid #575757;
}


#bigfont{
	color:#434343;
	font-size:48px;}
#middlefont{
	color:#434343;
	font-size:24px;}
#mainright1-1{
	overflow:hidden;
	height:120px;}
#mainright1-1 p{
	margin-left:20px;
	margin-top:10px;}
.fontcolor{color:#434343;
font-size:14px;}
#mainright1-2{
	overflow:hidden;
	height:80px;
}
#mainright1-2 p{	margin-left:20px;}
#underline{
	margin:15px 0px 0px 50px;
	color:#434343;
	font-size:18px;
	text-decoration:underline;}
#mainright1-2 em{
	padding:0px 2px;
	margin-left:5px;
	font-size:30px;
	border:2px solid #3399FF;
	}
#mainright2{}
#mainright3{
	margin-top:20px;}
#mainright4{
	margin-top:20px;
	}
	/*------------------------------------------------------------------------------*/
	
	/*-----------------------------------------------------------------------------------*/
#foot3{
	overflow:hidden;
	border-top:1px solid #ABABAB; 
	width:1024px;
	margin:0px auto;
	height:30px; clear:left;}
#foot3 a{
	color:#999999;}
#hidefootimg{
	position:absolute;
	display:none;
	margin:-170px 0 0 440px;
	border:2px solid #009933;}
.colorgreen{
	color:#009966;}

